<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-4" *ngFor="let pd of productData">

            <div class="prodbox mt-3 mb-3">
                <img src="{{pd.pdImg}}" alt="">,
                <h1>{{pd.pdName}}</h1>
                <p>{{pd.pdDesc}}</p>
                <p>{{pd.pdPrice | currency:'USD'}}</p>
                <a class="buybtn" [routerLink]="['/products',pd.id]">Buy Now &nbsp; <i class="bi bi-bag"></i></a>

            </div>
        </div>
    </div>

</div>